body{
  margin-top:20px;
  background:#f8f8f8
}
.active-circle {
  color: green;
}
/* .not-active-circle {
  color: red;
} */

.actionbar-container {
  padding: 5px 0;
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
table {
  margin-bottom: 0 !important;
}

.actionbar-container {
  width: 100%;
  gap: 24px;
}

.action-form {
  display: contents;
}